body {
    background-color: #F7F7F2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #13505B;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F7F7F2;
    padding: 30px;
    margin: 0;
}

#header {
    text-decoration: none;
}

nav {
    background-color: #119DA4;
    padding: 8px;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

li a:hover {
    color: #36151E;
}

.clicked {
    font-size: 20px;
    color:#36151E
}

li a {
    font-size: 20px;
    color: #F7F7F2;
    text-decoration: none;
}

#web {
    margin-left: 350px;
}

#clicked-web {
    margin-left: 350px;
}

#graphic {
    margin-left: 350px;
}

#clicked-graphic {
    margin-left: 350px;
}

a:hover {
    color: #36151E;
}

form {
    text-align: center;
    margin: 10px 350px;
    padding: 40px 40px;
    color: #36151E;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

#submit {
    margin-top: 10px;
    margin-bottom: 20px;
}

main {
    color: #36151E;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #36151E;
    margin-top: 40px;

}

p {
    font-size: 20px;
    text-align: justify;
    text-align-last: center;
    margin: 10px 350px;
}

p:last-of-type {
    margin-top: 40px;
}

img {
    border: solid #36151E 1px;
}

#vector {
    display: block;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h3 {
    text-align: center;
    padding-top: 50px;
}

#first-h3 {
    padding-top: 20px;
}

#small {
    display: block;
    width: 20%;
    margin: auto;
}

.big {
    width: 30%;
    margin: 5px 20px;
}

.center {
    display: block;
    margin: 5px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.rows::after {
    content: "";
    clear: both;
    display: table;
}

.gallery {
    float: left;
    width: 20%;
    margin: 0px 37px;
}

.gallery img {
    margin-left: 40px;
}

div img {
    width: 80%;
}

#three-pics::after {
    content: "";
    clear: both;
    display: table;
}

#three-pics h3 {
    float: left;
    margin-top: 80px;
    margin-left: 10px;
}

#three-pics img {
    float: left;
    width: 15%;
    margin: 100px 30px;
}

footer {
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
}

footer a {
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 30px;
}
